<h1> Results show Drinks </h1>

<% drinks.forEach(function(drink){ %>

    
    <li>
        Drink:
        <%=drink.strDrink%>
        <br>
        <h2><img src='<%=drink.strDrinkThumb%>' width="300"></h2>
        <br>
        Glass:
        <%=drink.strGlass%>
        <br> Ingredients: 
        <%=drink.strIngredients%>
       

        <br>
        Instructions:
        <%=drink.strInstructions%>
        <br>
        <br>
        <form method="POST" action="/favorites"> 
            <input type="hidden" name="name" value="<%=drink.strDrink%>">
            <input type="hidden" name="ingredients" value="<%=drink.strIngredients%>">
            <input type="hidden" name="instructions" value="<%=drink.strInstructions%>">
            <input type="hidden" name="picture" value="<%=drink.strDrinkThumb%>">
            <input type="submit" value="Add to Favorities">
        </form>
        <br>
        <br>
        <% }) %>
        
</li>
<a href="http://localhost:8080/">
    <button>Find More</button>
  </a>