<h1> Results show Drinks </h1>

<% drinks.forEach(function(drink){ %>

<div id="drink">
       <div id="font"> Drink </div>
        <%=drink.strDrink%>
        <br>
        <br>
        <h2><img src='<%=drink.strDrinkThumb%>' width="300"></h2>
        <br>
        <br>
        <div id="font"> Glass </div>
        <%=drink.strGlass%>
        <br> 
        <br>
        <div id="font"> Ingredients </div> 
        <%=drink.strIngredients%>
        <br>
        <br>
        <div id="font"> Instructions </div>
        <%=drink.strInstructions%>
</div>
        <br>
        <br>
        <form method="POST" action="/favorites"> 
            <input type="hidden" name="name" value="<%=drink.strDrink%>">
            <input type="hidden" name="ingredients" value="<%=drink.strIngredients%>">
            <input type="hidden" name="instructions" value="<%=drink.strInstructions%>">
            <input type="hidden" name="picture" value="<%=drink.strDrinkThumb%>">
            <!-- <input type="hidden" > -->
            <input type="submit" class="button-three" value="Add to Favorities">
        </form>
        <br>
        <br>

        <% }) %>
        


<a href="https://drinkitup.herokuapp.com/">
    <div class="sub-main">
        <button class="button-three">Find More Drinks</p> 
  </a>