 <h1 id="fav">My Favorite Drinks</h1>

 <%faveDrinks.forEach(function(drink){ %>

    <p  id="ingredients">
          Drink:
          <%=drink.name%>
          <br>
          <br>
          <b>What you need:</b>
          <%=drink.ingredients%>
           <br>
           <br>
          <b>How to make:</b> 
          <%=drink.instructions%>
          <br>
          <br>
          <img src="<%=drink.picture%>"width="300">
          
          <br>
          <div id="action">
          <form method="POST" action="/favorites/<%=drink.id%>/?_method=PUT">
          <label for="description" id="review">Review</label>
          <br>
          <textarea id="comment" type="text" name="comment"></textarea>
          <br>
          <button id="button" class="button-three" type="submit">ADD NOTE</button>
          <br>
          <br>
          <a id="seeComments" class="button-three" href="/comments/<%=drink.id%>"> SEE NOTE</a>
          <br>
          <br>
          </form>

          <form method="POST" action="/favorites/<%=drink.id%>/?_method=DELETE">
            <input id="delete" type="submit" class="button-three" value="DELETE">
            </form>
          </div>
            
           
        
        <%})%>
        <a href="http://localhost:8080/">
          <div class="sub-main">
            <button class="button-three">Find More Drinks</p> 
          </a>
        </div>

    



