 <h1 id="fav">My Favorite Drinks</h1>

 <%faveDrinks.forEach(function(drink){ %>

    <p  id="ingredients">
          <b>Drink:</b>
          <%=drink.name%>
          <br>
          <br>
          <b>What you need:</b>
          <%=drink.ingredients%>
           <br>
           <br>
           <br>

          <b>How to make:</b> 
          <%=drink.instructions%>
          <br>
          <br>
          <img src="<%=drink.picture%>"width="300">
          </p>
          <br>
          <form method="POST" action="/favorites/<%=drink.id%>/?_method=PUT">
          <label for="description">Review</label>
          <br>
          <textarea id="comment" type="text" name="comment"></textarea>
          <br>
          <button id="button" type="submit">Submit</button>
          <a id="seeComments" href="/comments/<%=drink.id%>"> See Reviews</a>
          </form>
          <form method="POST" action="/favorites/<%=drink.id%>/?_method=DELETE">
          <br>
          <input id="delete" type="submit" value="Delete">
            </form>
            
           
        </p>
        <%})%>
        <a href="http://localhost:8080/">
            <button>Find More Drinks</button>
          </a>
        <br>

    



