 <h1>My Favorite Drinks</h1>

 <% faveDrinks.forEach(function(drink){ %>

    <p>
            Drink:
            <%=drink.name%>
            <br>
            Ingredients:
            <%=drink.ingredients%>
           

            <br>
            Instructions:
            <%=drink.instructions%>
            <br>
           <img src="<%=drink.picture%>"width="300">
           <br>
           <form method="POST" action="/favorites/<%=drink.id%>/?_method=PUT">
            <label for="description">Review</label>
            <textarea id="comment" type="text" name="comment"></textarea>
           <button id="button" type="submit">Submit</button>
          </form>
    
           <form method="POST" action="/favorites/<%=drink.id%>/?_method=DELETE">
                <input id="delete" type="submit" value="Delete">
            </form>
            
           
        </p>
        <%})%>
        <a href="http://localhost:8080/">
            <button>Find more</button>
          </a>
        <br>

    



