 <h1 id="fav">My Favorite Drinks</h1>

 <% faveDrinks.forEach(function(drink){ %>

    <p  id="ingredients">
             Drink:
            <%=drink.name%>
            
           
            <b>Ingredients:</b>
            <%=drink.ingredients%>
           

            <br>

            Instructions:
            <%=drink.instructions%>
            <br>
           <img src="<%=drink.picture%>"width="300">
           <br>
           <form method="POST" action="/favorites/<%=drink.id%>/?_method=PUT">
            <label for="description">Review</label>
            <textarea id="comment" type="text" name="comment"></textarea>
            <button id="button" type="submit">Submit</button>
          </form>
          <br>
        </p>
           <form method="POST" action="/favorites/<%=drink.id%>/?_method=DELETE">
                <input id="delete" type="submit" value="Delete">
            </form>
            
           
        </p>
        <%})%>
        <a href="http://localhost:8080/">
            <button>Find more</button>
          </a>
        <br>

    



