 <h1>My Favorite Drinks</h1>

 <% faveDrinks.forEach(function(drink){ %>

    <p>
            <%=drink.name%>
            <br>
            <%=drink.ingredients%>
            <br>
            <%=drink.instructions%>
            <br>
           <img src="<%=drink.picture%>"width="300">
           <br>
           <form method="POST" action="/favorites/<%=drink.id%>/?_method=DELETE">
                <input id="delete" type="submit" value="Delete">
            </form>
            
        
        </p>
        <%})%>
        <br>

    



